<section class="prjct-tbl p-6 rounded-3xl border dark:bg-gray-800 dark:border-gray-700 xl:col-start-2">
    <div class="flex justify-between">
        <h2 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">Projects</h2>
        <p id="msg" class="ml-auto text-green-400"></p>
    </div>

    <div class="relative overflow-x-auto rounded-lg">
        <div class="pb-4">
            <label for="users-search" class="sr-only">Search</label>
            <div class="relative mt-1 flex items-center">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="projects-search" name="projetcs-search"
                    class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-44 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search for projects">

                <div id="projects-spinner"><%- include ("spinner.ejs") %></div>

                    <a href="/projects/create"
                        class="block ml-auto text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"><span
                            class="text-xl pr-2">+</span> Create project</a>

            </div>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 rounded-tl-lg">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Project name
                    </th>
                    <th scope="col" class="px-6 py-3 rounded-tr-lg">
                        View
                    </th>
                </tr>
            </thead>
            <tbody id="projects-table-body"></tbody>
        </table>
    </div>
</section>