<button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"
    class="block p-6 flex flex-col justify-center items-center gap-6 bg-white border border-gray-200 rounded-3xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
    type="button">
    <div class="grid place-items-center w-24 h-24 text-5xl rounded-full dark:bg-gray-700 dark:text-white">
        +</div>
    <p class="font-normal text-center text-gray-700 dark:text-gray-400">Create New Task</p>
</button>

<!-- Tasks modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Create New Task
                </h3>
                <button type="button" id="hide-modal"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body use axios to insert task -->
            <div class="p-4 md:p-5">
                <form id="task-form" class="space-y-4">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Task
                            name</label>
                        <input type="text" name="name" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="e.g. Implement feature">
                    </div>
                    <div>
                        <label for="description"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                        <input type="text" name="description" id="description"
                            placeholder="e.g. Use certain technique to handle this problem"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <div class="relative">
                        <label for="assign-worker"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Assign this task to
                            worker</label>
                        <input type="text" name="assign-worker" id="assign-worker" placeholder="Worker's id"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                        <div id="assign-workers-list" aria-live="polite"
                            class="absolute top-20 w-full max-h-64 overflow-y-auto rounded-lg bg-gray-500 z-10 overflow-hidden">
                        </div>
                    </div>
                    <button type="submit" id="submit-button"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("task-form");
        const assignWorkerInput = document.getElementById("assign-worker");
        const assignWorkersList = document.getElementById("assign-workers-list");
        const submitButton = document.getElementById("submit-button");

        form.addEventListener("submit", event => {
            event.preventDefault(); // Prevent the default form submission

            submitButton.innerHTML = `
        <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
        </svg>Loading...
    `

            const name = document.getElementById("name").value;
            const description = document.getElementById("description").value;

            axios.post(`/projects/<%= project.id %>/new-task`, {
                name,
                description
            }).then(res => {
                console.log(res.data);
                submitButton.innerHTML = "Create";
                document.getElementById("hide-modal").click();
            }).catch(err => {
                console.error(err);
            });
        });

        assignWorkerInput.addEventListener("focus", () => {
            const workers = JSON.parse('<%-JSON.stringify(workers)%>');
            createUsersList(workers);
        });
        assignWorkerInput.addEventListener("blur", () => {
            assignWorkersList.innerHTML = null;
        });

        function createUsersList(users) {
            const ulElement = document.createElement("ul");
            ulElement.className = "h-full list-none list-inside dark:text-white";

            users.forEach((user, i) => {
                const liElement = document.createElement("li");
                liElement.addEventListener("click", () => {
                    assignWorkerInput.value = user.id;
                    assignWorkersList.innerHTML = null;
                });

                if (i !== users.length) {
                    liElement.className = "p-4 border-b border-gray-400 hover:bg-gray-600 cursor-pointer";
                } else {
                    liElement.className = "p-4 hover:bg-gray-600 cursor-pointer";
                }
                liElement.textContent = `${user.first_name} ${user.last_name}`;
                ulElement.appendChild(liElement);
            });

            assignWorkersList.appendChild(ulElement);
        }
    });

</script>