<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <title>Index</title>
</head>

<body class="bg-slate-950 w-screen min-h-screen grid items-center">
    <main class="w-full max-w-md mx-auto px-6 py-20">
        <h1 class="mb-10 text-4xl font-bold text-gray-900 dark:text-white">Index</h1>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>

</html>