<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <title>Log In</title>
</head>

<body class="bg-slate-950 w-screen min-h-screen grid items-center">
    <main class="w-full max-w-md mx-auto px-6 py-20">
        <h1 class="mb-10 text-4xl font-bold text-gray-900 dark:text-white">Log In</h1>
        <% if (registered) { %>
            <p class="fixed top-14 left-6 md:left-14 text-green-400 bold text-base">You have been successfully
                registered!</p>
            <% } %>
                <form action="/users/login" method="POST">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="email" name="email" id="email" placeholder=" " value="<%= formValues.email %>"
                            aria-describedby="emailError"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
                        <label for="email"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                            Email</label>
                        <% if (getErrorMsg("email")) { %>
                            <p id="emailError" class="mt-2 text-xs text-red-600 dark:text-red-400">
                                <span class="font-medium">
                                    <%= getErrorMsg("email") %>
                                </span>
                            </p>
                            <% } %>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="password" name="password" id="password" placeholder=" "
                            value="<%= formValues.password %>" aria-describedby="passwordError"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
                        <label for="password"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                        <% if (getErrorMsg("password")) { %>
                            <p id="passwordError" class="mt-2 text-xs text-red-600 dark:text-red-400">
                                <span class="font-medium">
                                    <%= getErrorMsg("password") %>
                                </span>
                            </p>
                            <% } %>
                    </div>

                    <button type="submit" id="submit-button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>
    </main>

    <script src="/javascripts/spinner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>

</html>